body {
	height: 100%;
}



#wrapper {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.container-main {
	flex: 1 0 auto;
}

#container {
  position: relative;
  min-height: 100%;
  padding-bottom:90px;
}

#iframe {
	float:left;
	margin-right: 40px;
	
}

#contact {
	margin-top:40px;
	float:right;
	padding-right: 70px;
}

#contact h1 {
	font-size:30PX;
	font-weight: bold;
}

#contact p {
	font-size:18px;
}

#footer_block {
flex: 0 0 auto;
}